openapi: 3.1.0
info:
  title: RTF Manuell API
  version: 1.1.0
  description: API för att hämta all relevant information för att utföra en manuell rätt till försäkring kontroll

servers:
  - url: /regel/rtf-manuell

paths:
  /{kundbehovsflodeId}:
    get:
      tags: [RtfManuellController]
      operationId: getData
      summary: Hämta information som behövs för att utföra kontrollen
      description: Hämta information som behövs för att utföra kontrollen
      parameters:
        - name: kundbehovsflodeId
          in: path
          required: true
          description: ID för kundbehovsflödet
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Information hämtad OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDataResponse"
        "404":
          description: Informationen hittades inte
  /{kundbehovsflodeId}/ersattning/{ersattningId}:
    patch:
      tags: [RtfManuellController]
      operationId: updateErsattning
      summary: Uppdatera information om ersättning
      description: Uppdatera information om ersättning
      parameters:
        - name: kundbehovsflodeId
          in: path
          required: true
          description: ID för kundbehovsflödet
          schema:
            type: string
            format: uuid
        - name: ersattningId
          in: path
          required: true
          description: ID för ersättning
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchErsattningRequest"
      responses:
        "200":
          description: Uppdatering genomförd OK
        "404":
          description: Informationen hittades inte

components:
  schemas:
    GetDataResponse:
      type: object
      properties:
        kundbehovsflode_id:
          type: string
          format: uuid
        kund:
          $ref: "#/components/schemas/Kund"
        ersattning:
          type: array
          items:
            $ref: "#/components/schemas/Ersattning"

    PatchErsattningRequest:
      type: object
      properties:
        avslagsanledning:
          type: string
        beslutsutfall:
          $ref: "#/components/schemas/Beslutsutfall"

    Kund:
      type: object
      properties:
        efternamn:
          type: string
        fornamn:
          type: string
        kon:
          type: string
          enum: [MAN, KVINNA]
        anstallning:
          $ref: "#/components/schemas/Anstallning"

    Anstallning:
      type: object
      properties:
        organisationsnummer:
          type: string
        organisationsnamn:
          type: string
        arbetstid_procent:
          type: integer
        anstallningsdag:
          type: string
          format: date
        sista_anstallningsdag:
          type: string
          format: date
        lon:
          $ref: "#/components/schemas/Lon"

    Lon:
      type: object
      properties:
        lonesumma:
          type: integer
        from:
          type: string
          format: date
        tom:
          type: string
          format: date

    Ersattning:
      type: object
      properties:
        ersattning_id:
          type: string
          format: uuid
        ersattningstyp:
          type: string
        omfattning_procent:
          type: integer
        belopp:
          type: integer
        berakningsgrund:
          type: integer
        beslutsutfall:
          $ref: "#/components/schemas/Beslutsutfall"
        avslagsanledning:
          type: string
          nullable: true
        from:
          type: string
          format: date
        tom:
          type: string
          format: date

    Beslutsutfall:
      type: string
      enum: [JA, NEJ, FU]
